.mapbox-directions-destination {
  display: none;
}

.mapbox-directions-origin {
  display: none;
}

.sidebar {
  position: absolute;
  left: 0;
  width: 30%;
  word-wrap: break-word;
}

.listings {
  padding-bottom: 60px;
  width: 80%;
  overflow-y: scroll;
  word-wrap: break-word;
  border-bottom: 1px solid #eee;
}

.map-container {
  height: 100vh;
  width: 75.4vw;
}

.heading {
  border-bottom: 1px solid #eee;
  line-height: 60px;
  padding: 0 10px;
}
